section {
  width: 550px;
  margin: 2rem 2rem 2rem 12rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

img {
  width: 550px;
  border-radius: 4px;
}

span, p {
  color: #848484;
}

h3 {
  color: #FFF;
  font-size: 28px;
}
