<main>
  <app-menu></app-menu>
  <app-title></app-title>
  <div class="container-news-top">
    <div>
      <app-main-card></app-main-card>
    </div>
    <div>
      <app-second-card class="secondary card-sec" imgData="../../../assets/miranha.webp" [title]="textDescription" data="January, 2024"></app-second-card>
      <hr class="secondary">
      <app-second-card class="secondary card-sec" imgData="../../../assets/t20.webp" [title]="text1" data="December, 2023"></app-second-card>
      <hr class="secondary">
      <app-second-card class="secondary card-sec" imgData="../../../assets/zentorno.webp" [title]="text2" data="July, 2022"></app-second-card>
    </div>
  </div>
</main>
